@forward 'color';
@forward 'keyframes';
@forward 'typography';

@use 'style/color';
@use 'style/text';
@use 'style/misc';
@use 'style/media';

:root {
  box-sizing: border-box;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-surface9);
  background-color: var(--color-surface1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: color.alpha(--color-accent, 0.5)
}

*, *::before, *::after {
  @include text.font-body;
  @include misc.scrollbar(var(--color-accent));
  box-sizing: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  place-items: center;
  min-width: misc.rem(320);
  height: 100%;
}

input {
  padding: var(--spacing-sm-100) var(--spacing-nm-100);
  font-size: var(--h-nm-100);
  background: var(--color-surface2);
  transition: border-color 0.25s;
  outline: 0;
  border: misc.rem(1) solid var(--color-surface4);
  @include misc.border-radius;
  &:focus {
    border-color: var(--color-accent);
  }
  color: var(--color-surface1-contrast);
  z-index: 1;
  @include media.smaller-than(phone) {
    padding: var(--spacing-sm-50) var(--spacing-sm-100);
  }
}

button {
  font-size: var(--h-nm-100);
  font-weight: 800;
  text-transform: uppercase;
  border: misc.rem(1) solid transparent;
  border-radius: misc.rem(8);
  padding: var(--spacing-sm-50) var(--spacing-sm-100);
  font-family: inherit;
  background: var(--color-accent);
  color: var(--color-accent-contrast);
  cursor: pointer;
  transition: background 0.25s, color 0.25s, border-color 0.25s;
  &:hover {
    background: var(--color-accent-contrast);
    color: var(--color-accent);
    border-color: var(--color-accent);
  }
  &:focus, &:focus-visible {
    outline: misc.rem(4) auto -webkit-focus-ring-color;
  }
}

dialog {
  border: 0;
}

.ErrorElement {
  position: fixed;
  z-index: 10;
  bottom: 0;
  height: calc(100vh / 3);
  width: 100vw;
  white-space: pre-wrap;
  overflow: auto;
  background: var(--color-surface1);
  color: var(--color-surface1-contrast);
  padding: var(--spacing-lg-100);
  font-size: var(--p-md-100);
}
