@forward 'color';
@forward 'keyframes';
@forward 'typography';

@use 'style/color';
@use 'style/text';
@use 'style/misc';
@use 'style/media';

:root {
  box-sizing: border-box;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-secondary-900);
  background-color: var(--color-secondary-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: color.alpha(--color-primary, 0.5)
}

*, *::before, *::after {
  @include text.font-body;
  @include misc.scrollbar(var(--color-primary));
  box-sizing: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  place-items: center;
  min-width: misc.rem(320);
  height: 100%;
}

button {
  font-size: var(--h-nm-100);
  font-weight: 800;
  text-transform: uppercase;
  border: misc.rem(1) solid transparent;
  border-radius: misc.rem(8);
  padding: var(--spacing-sm-50) var(--spacing-sm-100);
  font-family: inherit;
  background: var(--color-primary);
  color: var(--color-primary-contrast);
  cursor: pointer;
  transition: background 0.25s, color 0.25s, border-color 0.25s;
  &:hover {
    background: var(--color-primary-contrast);
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
  &:focus, &:focus-visible {
    outline: misc.rem(4) auto -webkit-focus-ring-color;
  }
}

pre {
  white-space: pre-wrap;
}

dialog {
  border: 0;
}
