@keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}

@keyframes blink {
  to { visibility: hidden; }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0%);
  } 
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes point-left {
  0% {
    transform: translateX(00%);
  } 
  50% {
    transform: translateX(50%);
  } 
  100% {
    transform: translateX(0%);
  }
}
